*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

.CalendarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 150px;
}
